<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="POST" id="reset-password-form">
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required>

        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <div id="passwordError" style="display:none;  color:red;">Both Password donot match!</div>
        <button type="submit">Submit</button>
    </form>

    <script>

        function getTokenFromUrl(){
            const url=window.location.href;
            const urlSegments=url.split('/');
            return urlSegments[urlSegments.length-1];
        }

        document.addEventListener("DOMContentLoaded",()=>{
            const token=getTokenFromUrl();
            const form=document.getElementById('reset-password-form');
            
            form.action=`http://127.0.0.1:5000/api/user/reset-password/${token}`;

            //  to prevent form submission if passwords not match
            form.addEventListener("submit",(event)=>{
                const newPass=document.getElementById('new-password').value;
                const confirmPass=document.getElementById('confirm-password').value;
                const errorDiv=document.getElementById('passwordError').value;

                if(newPass!=confirmPass){
                    errorDiv.style.display='block';
                    event.preventDefault();   
                }
                else{
                    errorDiv.style.display='none';
                }

            });
        })
    </script>   
</body>
</html>
